Repository voucherifyio/commerce-tools-integration, pull requests merged in 2022-10, with the labels that each got.

#121 directDiscount - applyToSpecificLineItems
  src/api-extension/cartActions/addDirectDiscountWithDiscountSummary.ts
Labels: direct-discount

#107 apply discounts in commercetools as DirectDiscount - POC
  README.md
  src/api-extension/cart.service.ts
  src/api-extension/cartActions/CartAction.ts
  src/api-extension/cartActions/addDirectDiscountWithDiscountSummary.ts
  src/api-extension/cartActions/addFreeLineItems.ts
  src/api-extension/cartActions/getCartActionBuilders.ts
  src/api-extension/types.ts
Labels: direct-discount

#116 Release candidate
  README.md
  package-lock.json
  package.json
  src/api-extension/__tests__/cart.service.spec.ts
  src/api-extension/api-extension.controller.ts
  src/api-extension/cart.service.ts
  src/api-extension/cartActions/CartAction.ts
  src/api-extension/cartActions/addDirectDiscountWithDiscountSummary.ts
  src/api-extension/cartActions/addFreeLineItems.ts
  src/api-extension/cartActions/addShippingProductSourceIds.ts
  src/api-extension/cartActions/getCartActionBuilders.ts
  src/api-extension/cartActions/removeFreeLineItemsForNonApplicableCoupon.ts
  src/api-extension/cartActions/setFixedPriceForLineItems.ts
  src/api-extension/cartActions/updateDiscountCodes.ts
  src/api-extension/convertUnitTypeCouponsToFreeProducts.ts
  src/api-extension/mappers/order.ts
  src/api-extension/mappers/product.ts
  src/api-extension/order.service.ts
  src/api-extension/types.ts
  src/api-extension/utils/checkIfItemsQuantityIsEqualOrHigherThanItemTotalQuantityDiscount.ts
  src/api-extension/utils/deleteObjectsFromObject.ts
  src/app.module.ts
  src/commerceTools/commerce-tools-connector.service.ts
  src/configs/appValidationPipe.ts
  src/configs/requestJsonLogger.ts
  src/configs/validationSchema.ts
  src/import/order-import.service.ts
  src/import/product-import.service.ts
  src/misc/actionsForAPIExtensionTypeOrder.ts
  src/voucherify/voucherify-connector.service.ts
Labels: release

#122 Refactoring tests
  src/api-extension/__tests__/README.md
  src/api-extension/__tests__/addAmountCouponAfterPercentageCoupon/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/addAmountCouponAfterPercentageCoupon/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/addAmountCouponAfterPercentageCoupon/test.spec.ts
  src/api-extension/__tests__/addFreeProduct/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/addFreeProduct/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/addFreeProduct/test.spec.ts
  src/api-extension/__tests__/addFreeProductWhenProductAlreadyInCart/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/addFreeProductWhenProductAlreadyInCart/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/addFreeProductWhenProductAlreadyInCart/test.spec.ts
  src/api-extension/__tests__/addMissingItems/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/addMissingItems/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/addMissingItems/test.spec.ts
  src/api-extension/__tests__/cart-service.factory.ts
  src/api-extension/__tests__/cart.service.spec.ts
  src/api-extension/__tests__/customTypes/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/customTypes/test.spec.ts
  src/api-extension/__tests__/discountForSpecificProduct/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/discountForSpecificProduct/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/discountForSpecificProduct/test.spec.ts
  src/api-extension/__tests__/inexistentCoupon/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/inexistentCoupon/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/inexistentCoupon/test.spec.ts
  src/api-extension/__tests__/newAmountCouponInNewSession/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/newAmountCouponInNewSession/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/newAmountCouponInNewSession/test.spec.ts
  src/api-extension/__tests__/noCouponCodesNorPreviousSession/snapshots/cart-with-custom-line-item.snapshot.ts
  src/api-extension/__tests__/noCouponCodesNorPreviousSession/snapshots/cart-with-unknown-custom-line-item.snapshot.ts
  src/api-extension/__tests__/noCouponCodesNorPreviousSession/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/noCouponCodesNorPreviousSession/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/noCouponCodesNorPreviousSession/test.spec.ts
  src/api-extension/__tests__/oneTimeCoupoinUsedInAnotherSession/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/oneTimeCoupoinUsedInAnotherSession/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/oneTimeCoupoinUsedInAnotherSession/test.spec.ts
  src/api-extension/__tests__/taxCategories/snapshots/cart-ch.snapshot.ts
  src/api-extension/__tests__/taxCategories/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/taxCategories/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/taxCategories/test.spec.ts
  src/api-extension/__tests__/updatedItemsQuantity/snapshots/cart.snapshot.ts
  src/api-extension/__tests__/updatedItemsQuantity/snapshots/voucherifyResponse.snapshot.ts
  src/api-extension/__tests__/updatedItemsQuantity/test.spec.ts
  src/commerceTools/__mocks__/commerce-tools-connector.service.ts
  src/commerceTools/tax-categories/__mocks__/tax-categories.service.ts
  src/commerceTools/types/__mocks__/types.service.ts
  src/voucherify/__mocks__/voucherify-connector.service.ts
Labels: refactor
